@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #141c0d;

	/* Cores do TechBlog */
	--primary: #67a22d; /* Verde (botões e hrefs) */
	--placeholder-text: #758269; /* Texto no placeholder do input */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-newsreader: var(--font-newsreader);

	/* Cores do TechBlog */
	--color-primary: var(--primary);
	--color-placeholder-text: var(--placeholder-text);
	--color-input-background: #edf2e8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--background);
		--foreground: var(--foreground);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-newsreader), serif;
}
